<launch>
  <rosparam command="load" file="$(find dynamics_identification)/di_controller_plugin.yaml" />
  <node
      pkg="pr2_controller_manager"
      type="spawner"
      name="di_controller_spawner"
      args="di_controller"
      output="screen">
  </node>
  <node
      pkg="dynamics_identification"
      type="di_segmentation"
      name="di_segmentation"
      args="30"
      output="screen">
  </node>
  <node
      pkg="dynamics_identification"
      type="di_analysis"
      name="di_analysis"
      output="screen">
  </node>
</launch>
